.chat-main
  
  .group-info   
    .group-info__leftbox     
      %h2.group-info__group        
        = @group.name
      %ul.group-info__member-list
        Member : 
        - @group.users.each do |user|
          .group-info__member-list
            =user.name          
    = link_to new_group_path, class: "Contents__btn3" do
      Edit
      
  .message-list 
    .MessageField
      = render @messages
      .message-box
        .message-list__member 
        %span.message-list--fat 
          hiorki
        .message-list__date
          2020/08/18(Tue) 18:35:00   
      .message-list__text 
        こんばんは！   


  .message-form
    = form_with model: [@group, @message], html: {class: "new-message"}, local: true do |f|
      .contents
        = f.text_field :content, class: 'contents__text', placeholder: 'type a message'
        = f.label :image, class: 'contents__image' do
          = icon('fas', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'contents__Hidden'
      = f.submit 'Send', class: 'submit-btn'

      

    